@import url('cwcc.css');

/* Custom CSS pour CWCC */
html {
	margin: 0;
}
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  background-color: #ffffff;
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #4a4a4a;
}

h3, h5, h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 32px;
  padding-bottom: 24px;
}
h3,
.h3 {
  font-size: 20px;
  line-height: 1.4;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 20px;
  color: #666666;
  font-weight: 300;
  line-height: 1.4;
}

a {
	color: #634183;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 18px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5;
}

.btn-primary, .btn-outline-primary:hover {
  color: #ffffff;
  background-color: #634183;
  border-color: #634183;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #b287d7;
  border-color: #b287d7;
}

.btn-primary:focus, .btn-primary.focus {
  outline: none;
}

.btn-outline-primary {
	color: #634183;
    background-color: #fff;
    border-color: #634183;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 0.9px #9b9b9b;
	color: #52489c;
	font-size: 12px;
}

.plan-edit {
	height: 32px;
	width: 30px;
 }

.site-title {
  font-weight: 300;
  line-height: 1.1;
  color: #4a4a4a;
  font-size: 56px;
  font-weight: 500;
}
.site-title.small {
  font-size: 40px;
  text-transform: initial;
  display: block;
  font-weight: 400;
}

.header-small {
	background: #f9f9f9;
}

.header-hero {
	background: #f9f9f9;
}

p {
  margin: 0;
}

.jumbotron {
	margin: 0;
	padding: 128px 0 200px 0;
	background-image: url("../../img/bg-hero@2x.jpg");
	background-size: cover;
}

.rounded-circle {
	background-color: #b287d7;
	width: 88px;
	height: 88px;
}

/* Fix for container within navbar on small viewports, for Firefox and Chrome.
This may but be necessary when Bootstrap 4 is improved after alpha. */

@media (max-width: 575px) {
  .navbar > .container {
    position: static;
    width: 100%;
  }
}

/* Max content widths */

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto
}

/* Navbar */

.navbar-topbar {
  border-radius: 0;
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

nav {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
	text-transform: uppercase;
}

/* Main content */

#content article {
  margin: 40px 0
}
#content header {
  margin: 20px 0
}
#content section{
}
footer {
	font-family: Montserrat;
	font-size: 12px;
	text-align: left;
	color: #0d1f2d;
	padding: 32px 16px;
	background-color: #b6bbc0;
}
.page-header {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #eee;
  margin: 40px 0 20px;
  padding: 10px 14px;
}

/* Ninja Form */

.nf-field-label label, th, label {
	font-size: 14px;
	font-weight: 300 !important;
	margin: 0;
	color: #9a9a9a;
}

.label-above .nf-field-label {
	margin: 0 !important;
}

.nf-form-fields-required, .ninja-forms-req-symbol {
	display: none;
}

.form-control {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #634183;
    border-radius: 0;
	background: none;
} input.form-control {
	height: 32px !important;
}

label.control-label {
	text-align: left !important;
}

.nf-field-element textarea {
	height: 100px !important;
}

.nf-error .ninja-forms-field {
    border-width: 0 0 2px 0 !important;
}

.nf-field-container {
	margin-bottom: 0 !important;
} .nf-after-field {
	margin-bottom: 40px;
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 
 
/*  collapseTools */
	
div#collapseTools {
	border-radius: 4px;
	background-color: #fafafa;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}	


/* 	Site footer */

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}

