.icon-feature-1 {
	width: 88px;
	height: 88px;
	background-color: white;
	-webkit-mask: url("../../img/icon-build.svg") no-repeat center;
	mask: url("../../img/icon-generate.svg") no-repeat center;
}

.icon-feature-2 {
	width: 88px;
	height: 88px;
	background-color: white;
	-webkit-mask: url("../../img/icon-generate.svg") no-repeat center;
	mask: url("../../img/icon-generate.svg") no-repeat center;
}

.icon-feature-3 {
	width: 88px;
	height: 88px;
	background-color: white;
	-webkit-mask: url("../../img/icon-share.svg") no-repeat center;
	mask: url("../../img/icon-share.svg") no-repeat center;
}

.icon-down {
	width: 16px;
	height: 16px;
	background-color: #7839ae;
	display: block;
	-webkit-mask: url("../../img/ic_arrow_downward_black_24px.svg") no-repeat center;
	mask: url("../../img/ic_arrow_downward_black_24px.svg") no-repeat center;
}

.icon-up {
	width: 16px;
	height: 16px;
	background-color: #7839ae;
	display: block;
	-webkit-mask: url("../../img/ic_arrow_upward_black_24px.svg") no-repeat center;
	mask: url("../../img/ic_arrow_upward_black_24px.svg") no-repeat center;
}

.icon-delete {
	width: 16px;
	height: 16px;
	background-color: #7839ae;
	display: block;
	-webkit-mask: url("../../img/ic_close_black_24px.svg") no-repeat center;
	mask: url("../../img/ic_close_black_24px.svg") no-repeat center;
}

.icon-z1 {
	background: #7f7f7f url("../../img/icon_z1.svg");
	border-radius: 2px;
}
.icon-z2 {
	background: #418cfa url("../../img/icon_z2.svg");
	border-radius: 2px;
}
.icon-z3 {
	background: #71be5d url("../../img/icon_z3.svg");
}
.icon-z4 {
	background: #f9cc43 url("../../img/icon_z4.svg");
	border-radius: 2px;
}
.icon-z5 {
	background: #ff652e url("../../img/icon_z5.svg");
	border-radius: 2px;
}
.icon-z6 {
	background: #ff3000 url("../../img/icon_z6.svg");
	border-radius: 2px;
}
.icon-warmup {
	background: #634183 url("../../img/icon_warmup.svg");
	border-radius: 2px;
}
.icon-cooldown {
	background: #634183 url("../../img/icon_cooldown.svg");
	border-radius: 2px;
}
.icon-freeride {
	background: #634183 url("../../img/icon_freeride.svg");
	border-radius: 2px;
}
.icon-textevent {
	background: #634183 url("../../img/icon_textevent.svg");
	border-radius: 2px;
}

.icon-z1, .icon-z2, .icon-z3, .icon-z4, .icon-z5, .icon-z6, .icon-warmup, .icon-cooldown, .icon-freeride, .icon-textevent {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.section-inverse {
	background-color: #f7f7f7;
}

.mt-1,.my-1{margin-top:8px!important}
.mb-1,.my-1{margin-bottom:8px!important}
.ml-1,.mx-1{margin-left:8px!important}
.mr-1,.mx-1{margin-right:8px!important}

.mt-4,.my-1{margin-top:32px!important}
.mb-4,.my-1{margin-bottom:32px!important}

.pt-5,.py-5{padding-top:40px!important}
.pb-5,.py-5{padding-bottom:40px!important}

.mt-6,.my-5{margin-top:48px!important}
.mb-6,.my-5{margin-bottom:48px!important}

.pt-8,.py-8{padding-top:64px!important}
.pb-8,.py-8{padding-bottom:64px!important}

.pt-9,.py-9{padding-top:72px!important}
.pb-9,.py-9{padding-bottom:72px!important}

.pt-10,.py-10{padding-top:80px!important}
.pb-10,.py-10{padding-bottom:80px!important}

.pt-11,.py-11{padding-top:88px!important}
.pb-11,.py-11{padding-bottom:88px!important}

.pt-13,.py-13{padding-top:104px!important}
.pb-13,.py-13{padding-bottom:104px!important}

.btn, button {
  text-transform: uppercase;
  cursor: pointer;
}

.form-control{
	padding-left: 0;
}

.btn-edit {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.site-title {
  font-weight: 300;
  line-height: 1.1;
  color: #4a4a4a;
  font-size: 56px;
  font-weight: 500;
}
.site-title.small {
  font-size: 40px;
  text-transform: initial;
  display: block;
  font-weight: 400;
}

.btn-primary {
  color: #ffffff;
  background-color: #634183;
  border-color: #634183;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #764e9c;
  border-color: #764e9c;
}
.btn-primary:focus, .btn-primary.focus {
  outline: none;
}

.btn-outline-primary {
	color: #634183;
    background-color: #fff;
    border-color: #634183;
}
 .btn-outline-primary:hover {
  color: #634183;
  background-color: #f6f3fa;
  border-color: #634183;
}

/**/
/* Buttons */

.btn-edit {
	width: 36px;
	height: 36px;
	border-radius: 5px;
}

.btn-add{
	border-radius: 5px;	
	width: 4rem;
	height: 4rem;
}

.btn-add label{
	display: none;
}

.modal-content{
	background-color: #fafafa;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);	
	border: 0px;
}
div.modal-header{
	padding: 32px 0 0 0;
	text-align: center;
	border-bottom: 0;
	display: block;
}
.modal-body{
	text-align: center;
	padding: 0 0 32px 0;	
}

.modal-header .close{
	padding: 16px;
	margin: -16px -46px 0px 0px;
}
button.close{
	background: url("../../img/ic_close_black_24px.svg") center center;
}
button.close label{
	display: none;
}

.the_champ_login_container{
	text-align: center;
}
.the_champ_login_container button.facebook{
	background: url("../../img/login_facebook.svg") no-repeat #fff 8px;
	padding-left: 40px;
	background-size: 24px;
	text-align: left;
	width: 256px;
}
.the_champ_login_container button.google{
	background: url("../../img/login_google.svg") no-repeat #fff 8px;
	padding-left: 40px;
	background-size: 24px;
	text-align: left;
	width: 256px;
}
.the_champ_login_container button:hover, .the_champ_login_container button:focus, .the_champ_login_container button:active{
	background: url("../../img/login_facebook-hover.svg") no-repeat #f6f3fa 8px;
	color: #634183;
}
.the_champ_login_container button.google:hover, .the_champ_login_container button.google:focus, .the_champ_login_container button.google:active{
	background: url("../../img/login_google-hover.svg") no-repeat #f6f3fa 8px;
	color: #634183;
}
